@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

body {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  direction: rtl;
  user-select: none;
}

.btn-black {
  @apply bg-black text-white px-4 py-2 transition-all hover:bg-white hover:text-black;
}

.glow {
  color: white;
  animation: glow 1.4s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
    text-shadow: 0 0 10px #fff, 0 0 0px #fff, 0 0 100px #fff, 0 0 20px #fff,
      0 0 100px #fff, 0 0 100px #fff, 0 0 80px #fff;
  }
  to {
    /* text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6; */
    text-shadow: 0 0 100px #fff, 0 0 20px #fff, 0 0 10px #a3c6ff,
      0 0 20px #a3c6ff, 0 0 10px #a3c6ff, 0 0 10px #a3c6ff, 0 0 10px #a3c6ff;
    color: white;
  }
}
